.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr 1fr);
}

.App-box {
  border: 1px solid black;
  background-color: white;
  height: 50px;
}

.App-player1 {
  color: white;
  background-color: red;
}

.App-player3 {
  color: white;
  background-color: black;
}

.App-active::after {
  content: "X";
}

.App-suggestion {
  background-color: lightgray;
}